/* HTML Selectors */

code {
    background-color: yellow;
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
}

div {
    margin: 10px;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
   margin-left: 25px;
}

nav {
    background-color: black;
    color: white;
}

ul li {
    padding: 5px;
}

ol li {
    padding: 5px;
}

