/* HTML Selectors */
article {
    margin: 10px;
}

body {
    font-family: 'Gill Sans', sans-serif; 
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: rgb(54, 108, 232);
    color: white;
    padding: 10px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

img {
    width: 20%;
    height: 20%
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    text-align: center;
}


/* ID Selectors */

#fishes {
    display: grid;
    grid-template-columns:  1fr 1fr;
}

/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    #fishes {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 64em) {
    #fishes {
        grid-template-columns: 1fr 1fr;
    }
}
